a  {
  color: #ffffff;
  text-decoration: none;
}
body {
	font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(to bottom right, grey, white);
  height: 785px;
}
.MenuButtons{
  font-family: "Copperplate", fantasy;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
 }
 .HomeScreen{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MagicButton{
	display: flex;
	justify-content: center;

}
.columns{
	display: flex;
	flex-direction: row;
	font-size: 25px;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 2%;
	padding-left: 2%;
    //box-sizing: border-box;
    //display: inline-block;
    text-align: center;

}
.columns p{
	width: 25%;
}
.columns h1{
	width: 33%;
	text-align: center;
}

.Headshot{
	width: 50%;
	display: flex;
	justify-content: center;
}
.Headshot img{
	width: 100%;
	min-width: 200px;
	max-width: 400px;
	text-align: center;
	min-height: 200px;
	max-height: 400px;
	padding-right: 20px;
}

.WorkPage{
	background-image: linear-gradient(to bottom right, grey, white);
  height: auto;
}
.WastedPotential{
	height: 30%;
}
.WPpic{
	width: 300px;
	height: auto;
}

.MakeItBump{
	height: 30%;
}
.hyperglowpic{
	width: 300px;
	height: auto;
}

.NYU{
	height: 30%;
}

.snakepic{
	width: 300px;
	height: auto;
}
.menupic{
	width: 300px;
	height: auto;
}
.pongpic{
	width: 300px;
	height: auto;
}
.ContactContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 150px;
}
.ContactForm{
	display: flex;
	justify-content: center;
	align-items: center;
}